/* Global styles */

* {
	margin: 0;
	font-family: 'Concert One';
}

p {
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	color: #cdcdcd;
	font-size: 15px;
}

h4 {
	margin-left: 5px;
	margin-top: 5px;
	font-size: 15px;
}

body {
    height: 100vh;
    overflow: hidden;
}

.stick1, .stick2, .stick3 {
	width: 100%;
	height: 0.3%;
	background-color: black;
}

/* Upper Popup */

.up {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 380px;
	height: 70px;
	box-shadow: inset 3px -3px 15px rgba(0, 0, 0, 0.5);
	/* Add your background pattern here */
	--s: 25px; /* control the size */
	--c1: #4b4b4b;
	--c2: #000000;
	--c: #0000 71%, var(--c1) 0 79%, #0000 0;
	--_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
	background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
	  linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
	  radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
}

h1 {
	font-family: 'Black Ops One';
	margin-left: 10px;
	font-size: 32px;
	color: #afb1b1;
}




/* Mid Popup */

.mid {
	width: 100%;
	height: 300px;
	box-shadow: inset 3px -3px 15px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #343536;
}

.conv {
    width: 90%;
    height: 90%;
    overflow: scroll;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 2px;
	background-color: #737477;
	border-color: #000000;
}

.conv::-webkit-scrollbar {
    width: 0;
}




/* Lower Popup */

select {
	margin-right: 5px;
}

#language-select {
	width: 90px; 
	padding: 8px;
	font-size: 13px;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 2px;
	background-color: black;
	color: white;
	outline: none;
	cursor: pointer;
}

#language-select:hover {
	border-color: #888;
}

#language-select:focus {
	border-color: #a748f5;
}

#language-select option {
	font-size: 12px;
}

/* Style lorsque l'option est survolée */
#language-select option:hover {
	background-color: #f5f5f5;
}

/* Style lorsque l'option est sélectionnée */
#language-select option:checked {
	background-color: #a748f5;
	color: #fff;
}

.lower {
	display: flex;
	align-items: center;
	justify-content: space-around;
    width: 380px;
    height: 70px;
	box-shadow: inset 3px -3px 15px rgba(0, 0, 0, 0.5);
	/* Add your background pattern here */
	--s: 25px; /* control the size */
	--c1: #4b4b4b;
	--c2: #000000;
	--c: #0000 71%, var(--c1) 0 79%, #0000 0;
	--_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
	background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
	  linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
	  radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
}

.Message {
	width: 220px;
	height: 40px;
	border-radius: 10px;
	background-color: black;
	transform: translate(0px,0px);
	box-shadow: 2px 2px #34343f;
}

.MsgInput {
	font-size: 12px;
	border-radius: 5px;
	background-color: black;
	border: none;
	outline: none;
	width: 150px;
	height: 12px;
	transform: translate(5px,-6px);
	padding: 10px;
	color: rgb(206, 203, 203);
	font-weight: bold;
}

.SendSVG {
	width: 25px;
	height: 30px;
	border-width: 30px;
	transform: translate(15px,5px);
	background-size: 10px;
	border-radius: 10px;
	transition: 0.3s;
}

.SendSVG:hover {
	background-color: #2e2f38;
}

.l {
	position: absolute;
	width: 1%;
	height: 100%;
	background-color: #2e2f38;
	transform: translate(-20px,0px);
}

	/* Mic Button */

.switch {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	margin-right: 5px;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mic-on {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
	transition: all .3s ease-in-out;
}

.switch:hover {
	background-color: rgba(60,64,67, 0.8);
}

#mic-checkbox {
	display: none;
}

#mic-checkbox:checked + .switch {
	opacity: 1;
}


	/* Reset Button */

.deleteButton {
	width: 23px;
	height: 23px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 94.3%;
	left: 90%
}

.deleteButton svg {
	width: 100%;
}

.deleteButton:hover {
	background-color: rgb(237, 56, 56);
	overflow: visible;
}

.bin path {
	transition: all 0.2s;
}

.deleteButton:hover .bin path {
	fill: #fff;
}

.deleteButton:active {
	transform: scale(0.98);
}

.tooltip1, .tooltip2, .tooltip3 {
	--tooltip-color: rgb(41, 41, 41);
	position: absolute;
	top: -40px;
	background-color: var(--tooltip-color);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 8px 12px;
	font-weight: 600;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s;
}

.tooltip1, .tooltip3 {
	width: 22px
}

.tooltip2 {
	width: 23px;
}

.tooltip1::before, .tooltip2::before, .tooltip3::before {
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	content: "";
	background-color: var(--tooltip-color);
	bottom: -10%;
}


.deleteButton:hover .tooltip1, .switch:hover .tooltip2, .container:hover .tooltip3 {
	opacity: 1;
}



/* Settings */

.settings {
	background-color: #2d2d2e;
	height: 30px;
}

.container {
	--color: #a5a5b0;
	--size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: var(--size);
	user-select: none;
	fill: var(--color);
	position: absolute;
	top: 95%;
	left: 5%
}

.container .mute {
	animation: keyframes-fill .5s;
}

.container .voice {
	display: none;
	animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .mute {
	display: none;
}

.container input:checked ~ .voice {
	display: block;
}
/* ------ Hide the default checkbox ------ */
.container input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
	0% {
	  transform: rotate(0deg) scale(0);
	  opacity: 0;
	}

	50% {
	  transform: rotate(-10deg) scale(1.2);
	}
}


.button {
	width: 70px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ff284818;
	border-radius: 16px;
	border: none;
	cursor: pointer;
	position: absolute;
	left: 40%;
	top: 94.7%
}

.label {
	font-family: sans-serif;
	height: 23px;
	font-size: 11px;
	line-height: 24px;
	color: #FF2849;
}

.svg-pause {
	width: 15px;
    height: 15px;
}

.button:hover {
	background: #ff284839;
}

.button:hover .svg-icon {
	animation: pulse 0.7s linear infinite;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	}

	50% {
	  transform: scale(1.13);
	}

	100% {
	  transform: scale(1);
	}
}
